SilverlightMathPad/Service References/WCFMathPadSvc/MathPadServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49362/MathPadServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SilverlightMathPad.Web" />
  <xs:element name="AddEntryToHallOfFame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SilverlightMathPad.Web" minOccurs="0" name="objFameEntry" nillable="true" type="q1:HallOfFameEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEntryToHallOfFameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntriesOfHallOfFame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntriesOfHallOfFameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SilverlightMathPad.Web" minOccurs="0" name="GetEntriesOfHallOfFameResult" nillable="true" type="q2:ArrayOfHallOfFameEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntriesOfScoreBoard">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntriesOfScoreBoardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SilverlightMathPad.Web" minOccurs="0" name="GetEntriesOfScoreBoardResult" nillable="true" type="q3:ArrayOfHallOfFameEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopScore">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTopScoreResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddScoreBoard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intPoints" type="xs:int" />
        <xs:element minOccurs="0" name="intTime" type="xs:int" />
        <xs:element minOccurs="0" name="strAddition" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddScoreBoardResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHallofFame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intPoints" type="xs:int" />
        <xs:element minOccurs="0" name="intTime" type="xs:int" />
        <xs:element minOccurs="0" name="strAddition" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHallofFameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>