SilverlightMathPad/Service References/WCFMathPadSvc/MathPadServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SilverlightMathPad.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SilverlightMathPad.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HallOfFameEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuizType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HallOfFameEntry" nillable="true" type="tns:HallOfFameEntry" />
  <xs:complexType name="ArrayOfHallOfFameEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HallOfFameEntry" nillable="true" type="tns:HallOfFameEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHallOfFameEntry" nillable="true" type="tns:ArrayOfHallOfFameEntry" />
</xs:schema>